[data-role="header"] > a {
	margin: 2px 5px;
	float: left !important;
}

[data-role="page"] {
	margin-top: 45px;
}

[data-role="footer"] {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

[data-role="footer"] > a {
	margin: 2px 5px;
	display: block !important;
}