/* Void color */
body {
	background: black !important;
}


/* Header */
[data-role="header"] > a {
	margin: 2px 5px;
	float: left !important;
}

[data-role="header"] > h1 {
	color: white;
}


/* Page */
[data-role="page"] {
	margin-top: 44px;
}


/* Footer */
[data-role="footer"] {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

[data-role="footer"] > a {
	margin: 2px 5px;
	display: block !important;
}


/* Theme tweaks */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background: #666666;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background: #34cc99;
	border-color: #34cc99;
}

.ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all, .ui-flipswitch.ui-corner-all, .ui-li-count {
	border-radius: initial;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    text-shadow: none;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    color: white;
    text-shadow: none;
}


/* Animation speed */
.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 700ms !important;
}


/* Main menu */
.ui-page {
	text-align: center;
}